<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    #RewriteRule ^$ public/ [L]
    #RewriteRule (.*) public/$1 [L]

    #php_value include_path '.;D:\xampp\php\pear;D:\xampp\htdocs\sim_parfum'
    php_value max_execution_time 0
</IfModule>

#<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
#  SetHandler application/x-httpd-alt-php72___lsphp
#  php_value engine off
#</FilesMatch>
